table.field {
  border-collapse: separate;
  border-spacing: 2px;
  text-align: center;
  margin: auto;
  td {
    width: 70px;
    height: 70px;
    border: 1px solid #dedede;
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}


.circle {
  width: 60px;
  height: 60x;
  border-radius: 50%;
}

.player_X {
  background-color: #006699;
}

.player_O {
  background-color: #A00000;
}