table.field {
  border-collapse: separate;
  border-spacing: 2px;
  text-align: center;
  margin: auto;
  td {
    width: 70px;
    height: 70px;
    border: 1px solid #dedede;
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}


.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.circle_small {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 2px 2px 0;
}

.player_X {
  background-color: #006699;
}

.player_O {
  background-color: #A00000;
}

.well {
  text-align: center;
}

.fl_left {
  float: left;
}

.clear {
  clear: both;
}

.centered {
  width: 150px;
  margin: auto;
  text-align: center;
}