@import 'compass';

table.field {
  border-collapse: separate;
  border-spacing: 2px;
  text-align: center;
  margin: auto;
  td {
    width: 70px;
    height: 70px;
    border: 1px solid #dedede;
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  td.no-border {
    border: none;
  }
}


.circle {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.circle_small {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 2px 2px 0;
}

.winning-coin {
  border: 1px solid #333333;
}

.player_X {
  background-color: #ffb600;
}

.player_O {
  background-color: #A00000;
}

.well {
  text-align: center;
}

.fl_left {
  float: left;
}

.clear {
  clear: both;
}

.centered {
  width: 130px;
  margin: auto;
  text-align: center;
}

.text-centered {
  text-align: center;
}

.not-visible {
  display: none;
}

.won a {
  cursor:pointer;
}